<div class="card__recipe">
  <figure class="card__img">
    <a href="#">
      <img src="<%= recipe.image %>" alt="" />
    </a>
  </figure>

  <div class="card__body">
    <span class="chip">
      <a href="#">
        <%= recipe.category %>
      </a>
    </span>

    <h4>
        <a href="#">
           <%= recipe.name %> 
        </a>
    </h4>
  </div>
</div>
