<footer class="footer">
    <div class="newsletter">
        <div class="content">
            <h3>Sing up to our newsletter</h3>
            <p>Stay up to date with the latest news, announcements and articles</p>
        </div>
        <form class="form">
            <input type="text" placeholder="Enter you email">
            <button class="btn dark">Subscribe</button>
        </form>
    </div>

    <div class="navigation">
        <div class="logo">
            <a href="/">
                <h1>Foot<span>Mood</span></h1>
            </a>

            <p>Experience the Magic of Cooking with Our Tried-and-Tested Recipes</p>
        </div>

        <div class="links">
            <ul>
                <li>Social</li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Tiktok</a></li>
            </ul>

            <ul>
                <li>Api</li>
                <li><a href="#">Documentacion</a></li>
                <li><a href="#">Models</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Countries</a></li>
                <li><a href="#">Categories</a></li>
            </ul>

            <ul>
                <li>Resources</li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Newsletter</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Help center</a></li>
                <li><a href="#">Support</a></li>
            </ul>

            <ul>
                <li>Legal</li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Licenses</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>        
    </div>

    <div class="copyright">
        <p>© 2023 FoodMood. All rights reserved.</p>

        <div class="icons">
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
            <a href="#"><i class='bx bxl-linkedin-square' ></i></a>
            <a href="#"><i class='bx bxl-tiktok' ></i></a>
        </div>
    </div>
</footer>