<header>
  <h1>Header</h1>
  

  <button class="btn disable">btn</button>
  <button class="btn dark">btn</button>
  <button class="btn dark disable">btn</button>
  <button class="btn dark large">btn</button>

</header>