<div class="title__container">
    <div class="title">
        <h3><%= titleText %></h1>

            <button class="btn dark">
                <a href="#">
                    View All
                </a>
            </button>
    </div>
</div>