* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $white;
}

ul {
    list-style: none;
}

input {
    outline: none;
    border: none;
    background: none;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: $font-text;
    font-size: 16px;
    color: $white;
    background: $black;
}