// Colors
$black: #0e0e0e;
$dark-gray: #232326;
$gray: #424345;
$light-gray: #bebec3;
$purple: #bd32f2;
$dark-purple: #bd32fe40;
$red: #ff4a4a;
$white: #ffffff;


// Font
$font-text: 'Rubik', sans-serif;

$h1: 38px;
$h1-s: 32px;

$h2: 32px;
$h2-s: 24px;

$h3: 22px;
$h3-s: 18px;

$text: 22px;
$text-s: 26px;

$text-bold: 26px;
$text-bold-s: 16px;

$caption: 12px;
$caption-bold: 16px;

$text-btn: 16px;



