* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #ffffff; }

ul {
  list-style: none; }

input {
  outline: none;
  border: none;
  background: none; }

img {
  width: 100%;
  height: auto; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: #0e0e0e; }

button.btn {
  background: #bd32f2;
  color: #ffffff;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  height: fit-content;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer; }
  @media (max-width: 578px) {
    button.btn {
      padding: 8px 16px; } }
  button.btn:hover {
    transform: scale(1.1); }
  button.btn.large {
    padding: 10px 60px;
    font-size: 16px; }
  button.btn.disable {
    background: #bd32fe40;
    color: #bebec3;
    cursor: default; }
    button.btn.disable:hover {
      transform: scale(1); }
  button.btn.dark {
    background: #0e0e0e;
    outline: 1px solid #ffffff; }
    button.btn.dark:hover {
      transform: scale(1.1); }
  button.btn.dark.disable {
    background: #0e0e0e;
    outline: 1px solid #bebec3; }
    button.btn.dark.disable:hover {
      transform: scale(1); }

span.chip a {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 32px;
  color: #ffffff;
  background: #bd32f2; }

span.chip.dark a {
  color: #bebec3;
  background: #232326; }

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .header {
      height: 60px; } }
  .header .logo a h1 {
    font-size: 24px;
    font-weight: bold; }
    .header .logo a h1 span {
      color: #bd32f2; }
  .header .navbar {
    display: flex;
    gap: 8px; }
    @media (max-width: 768px) {
      .header .navbar {
        background-color: #0e0e0e;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        z-index: 999;
        transition: height 0.3s ease-in-out; }
        .header .navbar li:first-child {
          padding-top: 2rem; }
        .header .navbar.active {
          height: calc(100vh - 60px); } }
    .header .navbar li a {
      font-size: 16px;
      font-weight: 500;
      font-family: "Rubik", sans-serif;
      color: #bebec3; }
      .header .navbar li a:hover {
        color: #bd32f2;
        transition: 0.3s; }
  .header .btn-hamburguer {
    display: none;
    justify-content: center;
    align-items: center; }
    @media (max-width: 768px) {
      .header .btn-hamburguer {
        display: flex; } }
    .header .btn-hamburguer i {
      color: #ffffff;
      font-size: 25px;
      cursor: pointer; }
  .header .form {
    display: flex;
    background-color: #232326;
    outline: 1px solid #bebec3;
    padding: 6px 14px;
    border-radius: 8px; }
    @media (max-width: 768px) {
      .header .form {
        display: none; } }
    .header .form input {
      color: #bebec3;
      font-size: 16px; }
      @media (max-width: 992px) {
        .header .form input {
          max-width: 100px; } }
    .header .form i {
      font-size: 18px;
      color: #bebec3; }

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background: #232326; }
  .footer .newsletter {
    display: flex;
    gap: 14px; }
    @media (max-width: 768px) {
      .footer .newsletter {
        flex-direction: column; } }
    .footer .newsletter .content {
      flex: 6;
      display: flex;
      flex-direction: column; }
      .footer .newsletter .content h3 {
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 20px; }
      .footer .newsletter .content p {
        font-size: 0.9rem;
        font-weight: 300;
        color: #bebec3; }
    .footer .newsletter .form {
      flex: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      @media (max-width: 768px) {
        .footer .newsletter .form {
          margin-top: 20px;
          justify-content: start; } }
      @media (max-width: 480px) {
        .footer .newsletter .form {
          justify-content: start;
          align-items: start;
          flex-direction: column; } }
      .footer .newsletter .form input {
        border: 1px solid #bebec3;
        border-radius: 8px;
        height: fit-content;
        padding: 10px;
        font-size: 16px;
        color: #ffffff;
        flex: 1; }
  .footer .navigation {
    display: flex; }
    @media (max-width: 768px) {
      .footer .navigation {
        gap: 26px;
        flex-direction: column; } }
    .footer .navigation .logo {
      flex: 3;
      display: flex;
      flex-direction: column; }
      .footer .navigation .logo a {
        margin-bottom: 10px; }
        .footer .navigation .logo a h1 {
          font-size: 24px;
          font-weight: bold; }
          .footer .navigation .logo a h1 span {
            color: #bd32f2; }
      .footer .navigation .logo p {
        font-size: 0.9rem;
        font-weight: 300;
        color: #bebec3; }
    .footer .navigation .links {
      flex: 6;
      display: flex;
      justify-content: space-evenly; }
      @media (max-width: 768px) {
        .footer .navigation .links {
          justify-content: space-between; } }
      @media (max-width: 480px) {
        .footer .navigation .links {
          flex-wrap: wrap;
          gap: 20px; } }
      .footer .navigation .links ul {
        display: flex;
        flex-direction: column;
        gap: 8px; }
        .footer .navigation .links ul li:first-child {
          color: #ffffff;
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 4px; }
        .footer .navigation .links ul li a {
          color: #bebec3;
          font-size: 16px;
          font-weight: 400; }
          .footer .navigation .links ul li a:hover {
            color: #ffffff; }
  .footer .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; }
    .footer .copyright p {
      font-size: 0.9rem;
      font-weight: 300;
      color: #bebec3; }
    .footer .copyright .icons {
      display: flex;
      gap: 10px; }
      .footer .copyright .icons a {
        padding: 8px;
        border-radius: 50%;
        background: #0e0e0e;
        display: flex;
        justify-content: center;
        align-items: center; }
        .footer .copyright .icons a i {
          font-size: 24px;
          color: #ffffff; }
          .footer .copyright .icons a i:hover {
            color: #bd32f2; }

.trending__section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  gap: 1rem; }
  @media (max-width: 768px) {
    .trending__section {
      flex-direction: column; } }
  @media (max-width: 480px) {
    .trending__section {
      padding: 0; } }
  .trending__section .trending {
    flex: 6;
    display: flex;
    flex-direction: column;
    background: #232326;
    border-radius: 12px; }
    .trending__section .trending:hover {
      outline: 1px solid #bebec3; }
    .trending__section .trending .img {
      max-height: 400px;
      border-radius: 12px;
      padding: 10px;
      overflow: hidden; }
      @media (max-width: 480px) {
        .trending__section .trending .img {
          padding: 0; } }
      .trending__section .trending .img img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px; }
    .trending__section .trending .content {
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 1rem; }
      .trending__section .trending .content h3 {
        font-size: 28px;
        font-weight: 500;
        color: #ffffff; }
        .trending__section .trending .content h3 a:hover {
          color: #bd32f2; }
      .trending__section .trending .content p {
        font-size: 16px;
        font-weight: 400;
        color: #bebec3; }
  .trending__section .trending__list {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 12px;
    gap: 20px;
    background: #232326; }
    @media (max-width: 480px) {
      .trending__section .trending__list {
        margin: 1rem;
        padding: 8px; } }
    .trending__section .trending__list .title {
      text-align: center;
      font-weight: 400;
      color: #ffffff;
      font-size: 24px; }
    .trending__section .trending__list .card {
      display: flex;
      padding: 5px;
      border-radius: 12px;
      gap: 10px; }
      .trending__section .trending__list .card:hover {
        outline: 1px solid #bebec3; }
        .trending__section .trending__list .card:hover .card__body h3 {
          color: #bd32f2; }
      .trending__section .trending__list .card .card__img {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center; }
        .trending__section .trending__list .card .card__img img {
          border-radius: 12px; }
      .trending__section .trending__list .card .card__body {
        flex: 6;
        display: flex;
        flex-direction: column; }
        .trending__section .trending__list .card .card__body h3 {
          font-size: 18px;
          color: #ffffff;
          font-weight: 400;
          margin-bottom: 10px; }
        .trending__section .trending__list .card .card__body p {
          color: #bebec3;
          font-size: 14px;
          font-weight: 300; }

.container__slider--categories {
  max-width: 1440px;
  margin: 3rem auto;
  margin-top: 1rem;
  background: #232326;
  border-radius: 12px;
  padding: 2rem 3rem; }
  @media (max-width: 1440px) {
    .container__slider--categories {
      margin: 3rem 2rem;
      margin-top: 1rem; } }
  @media (max-width: 768px) {
    .container__slider--categories {
      padding: 2rem;
      margin: 3rem 1rem;
      margin-top: 1rem; } }
  @media (max-width: 576px) {
    .container__slider--categories {
      padding: 2rem 1rem;
      margin-top: 1rem; } }
  .container__slider--categories .custom-glide--categories {
    width: 100%;
    margin: 0 auto; }
    .container__slider--categories .custom-glide--categories .glide__slides .glide__slide .slide-content {
      width: 100%;
      height: 160px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-end;
      color: #333;
      padding: 20px;
      border-radius: 12px;
      font-size: 18px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); }
      .container__slider--categories .custom-glide--categories .glide__slides .glide__slide .slide-content:hover {
        filter: brightness(115%); }
      .container__slider--categories .custom-glide--categories .glide__slides .glide__slide .slide-content i {
        color: #ffffff;
        font-size: 30px;
        margin-bottom: auto;
        align-self: end;
        text-shadow: 1px 1px 2px black; }
      .container__slider--categories .custom-glide--categories .glide__slides .glide__slide .slide-content h3 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-shadow: 1px 1px 2px black; }
      .container__slider--categories .custom-glide--categories .glide__slides .glide__slide .slide-content p {
        color: #ffffff;
        font-size: 14px;
        text-shadow: 1px 1px 2px black; }
    .container__slider--categories .custom-glide--categories .glide__bullets {
      bottom: -1.5rem; }
    @media (max-width: 576px) {
      .container__slider--categories .custom-glide--categories .glide__arrows {
        display: none; } }
    .container__slider--categories .custom-glide--categories .glide__arrows .glide__arrow {
      border-radius: 50%;
      background-color: #0e0e0e;
      padding: 5px; }
      .container__slider--categories .custom-glide--categories .glide__arrows .glide__arrow i {
        color: #ffffff;
        font-size: 20px; }
    .container__slider--categories .custom-glide--categories .glide__arrows .glide__arrow--left {
      left: -2.5rem; }
    .container__slider--categories .custom-glide--categories .glide__arrows .glide__arrow--right {
      right: -2.5rem; }

.container__slider--recipes {
  max-width: 1440px;
  margin: 3rem auto;
  margin-top: 1rem;
  background: #232326;
  border-radius: 12px;
  padding: 2rem 3rem; }
  @media (max-width: 1440px) {
    .container__slider--recipes {
      margin: 3rem 2rem;
      margin-top: 1rem; } }
  @media (max-width: 768px) {
    .container__slider--recipes {
      padding: 2rem;
      margin: 3rem 1rem;
      margin-top: 1rem; } }
  @media (max-width: 576px) {
    .container__slider--recipes {
      padding: 2rem 1rem;
      margin-top: 1rem; } }
  .container__slider--recipes .custom-glide--recipes {
    width: 100%;
    margin: 0 auto; }
    .container__slider--recipes .custom-glide--recipes .glide__slides .glide__slide .slide-content {
      position: relative;
      width: 100%;
      height: 160px;
      display: flex;
      color: #ffffff;
      border-radius: 12px;
      font-size: 18px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black); }
      .container__slider--recipes .custom-glide--recipes .glide__slides .glide__slide .slide-content .text {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        gap: 10px; }
        .container__slider--recipes .custom-glide--recipes .glide__slides .glide__slide .slide-content .text h3 {
          width: 100%;
          font-size: 20px;
          font-weight: 400;
          color: #ffffff;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .container__slider--recipes .custom-glide--recipes .glide__slides .glide__slide .slide-content .text p {
          width: 100%;
          font-size: 14px;
          font-weight: 200;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
      .container__slider--recipes .custom-glide--recipes .glide__slides .glide__slide .slide-content img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        z-index: -99;
        object-fit: cover;
        pointer-events: none; }
    .container__slider--recipes .custom-glide--recipes .glide__bullets {
      bottom: -1.5rem; }
    @media (max-width: 576px) {
      .container__slider--recipes .custom-glide--recipes .glide__arrows {
        display: none; } }
    .container__slider--recipes .custom-glide--recipes .glide__arrows .glide__arrow {
      border-radius: 50%;
      background-color: #0e0e0e;
      padding: 5px; }
      .container__slider--recipes .custom-glide--recipes .glide__arrows .glide__arrow i {
        color: #ffffff;
        font-size: 20px; }
    .container__slider--recipes .custom-glide--recipes .glide__arrows .glide__arrow--left {
      left: -2.5rem; }
    .container__slider--recipes .custom-glide--recipes .glide__arrows .glide__arrow--right {
      right: -2.5rem; }

.title__container {
  max-width: 1440px;
  margin: 2rem auto;
  margin-bottom: 0;
  padding: 0 2rem; }
  @media (max-width: 768px) {
    .title__container {
      padding: 0 1rem; } }
  .title__container .title {
    border-left: 4px solid #bd32f2;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      .title__container .title {
        padding-left: .5rem; } }
    .title__container .title h3 {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400; }
      @media (max-width: 768px) {
        .title__container .title h3 {
          font-size: 22px; } }
      @media (max-width: 578px) {
        .title__container .title h3 {
          font-size: 18px; } }
