span.chip {
    width: fit-content;
    display: block;
    padding: 3px 12px;
    border-radius: 32px;
    background: $purple;

    a {
        color: $white;
        font-size: 12px;
        font-weight: 300; 
    }

    &.dark {
        background: $dark-gray;

        a {
            color: $light-gray; 
            font-size: 12px;  
            font-weight: 300;
        }
    }

}