span.chip {
    a {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 300;
        border-radius: 32px;
        color: $white;
        background: $purple;
    }

    &.dark {
        a {
            color: $light-gray;
            background: $dark-gray;
        }
    }
}